<a href="https://colab.research.google.com/github/iamfoysal007/Python-/blob/main/Day_2(Learn_Python).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

name of variable

In [ ]:
_name= "Foysal"
first_name= "a"
# number@@="qwee"
# 1name= "foysal"

Value Assignment

In [ ]:
a= 10
name,age= "kalam","20"
print(age,name)

a=b=c=10
print(a,b,c)
type(age)

20 kalam
10 10 10

str

delete

In [ ]:
x=10
#del x
print(x)

10

local variable

In [ ]:
def func ():
    x=5
    print (x)
    func()
    print(x)

global variable

In [ ]:
x=5
def func ():
    print (x)
    func()
    print(x)

user input-output

In [ ]:
input()
name=input("enter your name: ")
age= int(input("enter your age: "))
print()
print (name,age)  # output
type(name,age)

Assignment

In [ ]:

name=input( "Enter your name: ")
age= int(input("Enter your age: "))
height=float(input("Enter your height: "))
print(type(name))
print(type(age))
print(type(height))

Enter your name: hisenburg